<#assign base=request.contextPath />
<!DOCTYPE HTML>
<html>
<head>
<base id="base" href="${base}">
<meta charset="UTF-8">
<title>新建工作</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
 <link rel="icon" href="${basePath}/static/img/logo.png">
<link rel="stylesheet" type="text/css" href="${base}/common/css/amazeui.css" />
<link rel="stylesheet" type="text/css" href="${base}/static/bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="${base}/static/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${base}/static/modular/flow/css/index.css" />
<link rel="stylesheet" type="text/css" href="${base}/static/common/css/mediaQuery.css"/>
</head>
<body>
	<div class="main">
		<div class="mainCont">
			<div class="cont">
				<div class="contMenu">
					<ul>
					<#list proTypes as proType>
						<#if proType_index==0>
							<li class="on">${proType.typeName}</li>
						</#if>
						<#if proType_index!=0>
							<li>${proType.typeName}</li>
						</#if>
					</#list>
					</ul>
				</div>
				<div class="contList">
					<#list proTypec as pro>
						<#if pro_index==0>
							<div class="row on">
						</#if>
						<#if proType_index!=0>
							<div class="row">
						</#if>
						<#list pro as pr>
							<div class="div_width st">
							<div class="tit borderColor${pr_index%3+1}">${pr.typeName}</div>
							<div class="list">
								<ul id="${pr.typeId}">
								</ul>
							</div>
							</div>
						</#list>
						</div>
					</#list>
				</div>
			</div>
		</div>
	</div>

	<!--模态框-->
	<div class="modal mo1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="closeModal()">&times;</button>
					<h4 class="modal-title" id="myModalLabel">流程图：</h4>
				</div>
				<div class="modal-body">
					<iframe id="frame_form_edit" frameborder="0" style="min-height: 300px; width: 100%; height: 100%;" src=""> </iframe>
				</div>
				<div class="modal-footer">
					<a href="javascript:closeModal();" class="btn btn-default">关闭</a>
				</div>
			</div>
		</div>
	</div>


	<!--多部门提示框-->
	<div class="modal mo">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="closeModal()">&times;</button>
					<h4 class="modal-title" id="mymo">部门选择</h4>
				</div>
				<div class="modal-body mymoo"></div>
				<div class="modal-footer">
					<a href="javascript:xuModal();" class="btn btn-default xuze">选择</a> <a href="javascript:closeModal();" class="btn btn-default">关闭</a>
				</div>
			</div>
		</div>
	</div>
<script src="${base}/static/common/js/jquery-3.3.1.js" charset="utf-8"></script>
<script src="${base}/static/modular/flow/js/index.js" charset="utf-8"></script>
</body>
</html>