* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Î¢ÈíÑÅºÚ";
	background: #EDF0F5;
}

input, button, select, textarea {
	border: none;
	outline: none;
}

:-ms-input-placeholder {
	color: #ccc;
	font-size: 9pt;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-size: 9pt;
}
/*×îÍâ²ãÈÝÆ÷*/
.main {
	width: 100%;
	height: 100%;
}
/*×ÓÒ³ÈÝÆ÷*/
.mainCont {
	height: 100%;
}

.st {
	overflow: auto !important;
}

.cont {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #eee;
}

.contMenu {
	height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.contMenu ul {
	padding-left: 25px;
}

.contMenu li {
	height: 40px;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	box-sizing: border-box;
	border-bottom: 2px solid transparent;
}

.contMenu li:hover {
	color: #2e8cf0;
}

.contMenu li.on {
	color: #2e8cf0;
	border-bottom: 2px solid #2e8cf0;
	box-sizing: border-box;
}

.contList {
	padding: 10px;
	height: 90%;
}

.contList>div {
	margin: 0;
	height: 100%;
	display: none;
}

.contList>div.on {
	display: block;
}

.contList>div>div {
	max-height: 100%;
}

.div_width {
	width: 20%;
	float: left;
	padding: 0 10px;
}

.tit {
	height: 50px;
	box-sizing: border-box;
	line-height: 40px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}

.borderColor1 {
	border-top: 4px solid #03ab56;
}

.borderColor2 {
	border-top: 4px solid #2c8cf0;
}

.borderColor3 {
	border-top: 4px solid #e53f31;
}

.list {
	max-height: 90%;
	overflow-y: auto;
}

.list li {
	padding: 10px 5px;
	background: #f7faff;
	border-bottom: 1px solid #eee;
}

.btns {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
}

.btns-sm {
	padding: 3px 6px;
}

.btns-lg {
	padding: 5px 15px;
}

.btns+.btns {
	margin-left: 5px;
}

.addBtn {
	margin: 5px 25px 5px 0;
}

.btnBlue {
	background: #2e8cf0;
}

.btnGreen {
	background: #03ab56;
}

.btnYellow {
	background: #EB6705;
}

.btnRed {
	background: #E74A41;
}

.list span i {
	margin-right: 10px;
	color: #b5d9d9;
	font-size: 14px;
}

.list li:hover {
	background: #dde8fa;
}

.list li a {
	color: #fff;
}

.modal {
	background: rgba(0, 0, 0, .2);
}

.modal-dialog {
	width: 60% !important;
}

.modal-header {
	background: #222;
	padding: 10px 15px;
	color: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-content {
	
}

.close {
	color: #eee !important;
}

.close:hover {
	color: #fff;
}

.modal-footer {
	text-align: center !important;
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}