html, body {
	height: 100%;
}

body {
	background: white !important;
}

.main {
	padding: 20px;
	height: 100%;
}

.main>DIV {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	overflow: auto;
}

.main .row {
	margin: 0;
}

.main .alert .close {
	right: 10px;
}

.main .nav-header {
	text-align: center;
	padding: 7px 15px;
	background: #EDF0F5;
	border-left: 5px solid #29ADEB;
	font-size: 20px;
	font-weight: bold;
	color: #29ADEB;
}

.main .nav-list a {
	color: #444;
}

.edui-default .edui-editor, .edui-default .edui-editor-iframeholder {
	width: 100% !important;
}

.edui-default .edui-editor-iframeholder {
	/* height: auto!important; */
	min-height: 500px;
	max-height: 700px;
}

.biao {
	margin: 3px;
	background-color: #b2caff;
    width: 100%;
    color: #545454;
    text-shadow: none;
    transition: all .3s linear
}
.biao:hover,.biao:focus{
	background: #34a26e;
	color: #fff
}