/* ::-webkit-scrollbar {
	width: 5px; 垂直滚动条的宽
	height: 5px; 水平滚动条的高
}

修改滚动条的背景和圆角
::-webkit-scrollbar-track-piece {
	background: #fff;
	-webkit-border-radius: 50px;
}

修改垂直滚动条滑块的样式
::-webkit-scrollbar-thumb:vertical {
	background: #eee;
	-webkit-border-radius: 50px;
}

修改水平滚动条滑块的样式
::-webkit-scrollbar-thumb:horizontal {
	background: #ccc;
	-webkit-border-radius: 50px;
} */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "微软雅黑";
	background: #EDF0F5!important;
}

input, button, select, textarea {
	/*border:none;*/
	outline: none;
}

:-ms-input-placeholder {
	color: #ccc;
	font-size: 9pt;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-size: 9pt;
}
/*最外层容器*/
.main {
	width: 100%;
	height: 100%;
}
/*子页容器*/
.mainCont {
	height: 100%;
	padding: 20px 20px 10px;
}

.hNav {
	width: 100%;
	height: 55px;
	padding-left: 20px;
	line-height: 55px;
	background: #fff;
}

.num {
	font-size: 18px;
	font-weight: bold;
	color: #2B8DF2;
	margin-right: 10px;
}
.btns {
	display: inline-block;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.btnsBlue {
	background: #2b8bef;
}

.btnsBlue:hover {
	background: #2882df;
}

.btnsGreen {
	background: #00a853;
}

.btnsGreen:hover {
	background: #099a51;
}
.btn-default {
	background: #F6F7F9;
	border: 1px solid #eee;
}

.num+span {
	padding: 6px 10px;
	background: #EDF0F5;
	margin-right: 10px;
	border-radius: 3px;
}

.cont {
	width: 100%;
	height: 94%;
	padding: 10px 0px 0px 0px;
}

.contBox {
	background: #fff;
	height: 100%;
	border: 1px solid #eee;
	border-radius: 5px;
	position: relative;
}

.left, .right {
	height: 100%;
	border-radius: 5px;
	position: relative;
	padding: 0 10px;
}
.leaveBox {
    width: 90%;
    max-height: 95%;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid #ddd;
    overflow-y: auto;
}
.left {
	width: 65%;
	height: 100%;
	background: #fff
}


.right {
	width: 35%;
	height: 100%;
	padding: 0 0 0 20px;
}
.title {
    text-align: center;
}
.rightBox{
	width: 100%;
	height: 100%;
	background: #fff
}
.top {
    height: 30%;
    position: relative;
}
.RightBottom {
    height: 70%;
    position: relative;
}
.tit {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    color: #00a853;
}
.textColor2{
	color: #007DDB;
}
.box{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 35px 10px 10px;
   
}
.boxCont{
	width: 100%;
	height: 100%;
	background: #FAFAFA;
	border: 1px solid #ddd;
	padding: 10px;
}
.boxCont>div{
	width: 100%;
	height: 100%;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: auto;
}
table{
	margin: auto;
}
td {
    border: 1px solid #ddd;
}
.tableline{
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
}